{% extends 'about.html.twig' %}

{% block title %}Greg | CTO{% endblock %}

{% block body %}
    <header>
        <nav>
            <ul>
                <li><a href="{{ path('homepage') }}">Group 6</a></li>
                <li><a href="{{ path('alex') }}">Alex</a></li>
                <li><a class="selected" href="{{ path('greg') }}">Greg</a></li>
                <li><a href="{{ path('anthony')}}" >Anthony</a></li>
                <li><a href="{{ path('avery') }}">Avery</a></li>
                <li><a href="{{ path('leanna') }}">Leanna</a></li>
                <li><a href="{{ path('robin') }}">Robin</a></li>
                <li><a href="{{ path('elric') }}">Elric</a></li>
            </ul>
        </nav>
    </header>
    <div id="wrapper">
        <section>
            <img alt="Photograph of Greg Ruffin" class="profile-photo" src="{{ asset('img/gruffin.jpg') }}" >
            <h3>About Greg</h3>
            <p>Hi, I'm Greg Ruffin! Welcome to my page.</p>

            <p> A little about myself. Im from Atlanta but now I live in San Francisco.
                I love watching, playing, and building games. </p>

            <p> Feel free to check out my work. </p>

            <p> Contact me at gregoryaruffin@gmail.com </p>
        </section>
        <footer>
            <a href="http://twitter.com/"><img alt="Twitter Logo" class="social-icon" src="{{ asset('img/twitter-wrap.png') }}" ></a>
            <a href="https://www.facebook.com/greg.d.ruffin"><img alt="Facebook Logo" class="social-icon" src="{{ asset('img/facebook-wrap.png') }}" ></a>
            <a href="http://github.com/dreruff"><img alt="GitHub Logo" class="social-icon" src="{{ asset('img/gitHubLogo.png') }}" ></a>
            <a href="https://www.linkedin.com/in/greg-ruffin-76a63889/"><img alt="LinkedIn Logo" class="social-icon" src="{{ asset('img/linkedin_grey.png') }}" ></a>
            <a href="https://angel.co/"><img alt="AngelList Logo" class="social-icon" src="{{ asset('img/angelListLogo.png') }}" ></a>
        </footer>
    </div>
{% endblock %}
