{{ form_start(form) }}
{{ form_widget(form.title) }}
{{ form_widget(form.description) }}
{{ form_widget(form.price) }}
{{ form_widget(form.category) }}
{{ form_widget(form.condition) }}
<a href={{ path('homepage') }}>Cancel</a>
{{ form_end(form) }}
