{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('bootstrap/css/bootstrap.min.css') }}>
    <style>
    body {
        padding-top: 50px;
        background-color: #5011A8;
        color: #FFC107;
    }
    </style>
{% endblock %}

{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">Team 6</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('alex') }}">Alex</a></li>
                    <li><a href="{{ path('greg') }}">Greg</a></li>
                    <li><a href="{{ path('anthony') }}">Anthony</a></li>
                    <li><a href="{{ path('avery') }}">Avery</a></li>
                    <li><a href="{{ path('leanna') }}">Leanna</a></li>
                    <li><a href="{{ path('robin') }}">Robin</a></li>
                    <li><a href="{{ path('elric') }}">Elric</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">

        <div class="text-center">
            <h1>Welcome to Team 6 Homepage</h1>
        </div>

    </div><!-- /.container -->
{% endblock %}