{% extends 'about.html.twig' %}

{% block title %}Group 6{% endblock %}

{% block body %}
    <header>
        <nav>
            <ul>
                <li><a class="selected" href="{{ path('homepage') }}" >Group 6</a></li>
                <li><a href="{{ path('alex') }}">Alex</a></li>
                <li><a href="{{ path('greg') }}">Greg</a></li>
                <li><a href="{{ path('anthony') }}">Anthony</a></li>
                <li><a href="{{ path('avery') }}">Avery</a></li>
                <li><a href="{{ path('leanna') }}">Leanna</a></li>
                <li><a href="{{ path('robin') }}">Robin</a></li>
                <li><a href="{{ path('elric') }}">Elric</a></li>
            </ul>
        </nav>
    </header>
    <div id="wrapper">
        <section>
            <img src="{{ asset('img/Monster.png') }}" alt="Photograph of a monster" class="other-photo">
            <h3 align="center">Welcome to Team 6 Homepage</h3>
            <p align="center">
                This website is a team project for CSC648 - Software Engineering at
                San Francisco State University. You can use the menu bar to find out
                some more information about our team. Thanks for visiting!
            </p>
        </section>
        <footer>
            <a href="http://github.com/omegabytes/csc648group06"><img src="{{ asset('img/gitHubLogo.png') }}" alt="GitHub Logo" class="social-icon"></a>
        </footer>
    </div>
{% endblock %}
