{% extends 'base.html.twig' %}
{% block listings %}
  <br>
  <br>
  <div class="container">
  <h1 class="text-center">Listings</h1>
  <br>
  <!-- Left-aligned media object -->
  {{ form_start(forms) }}
    {% for form in forms.vars.value.item %}
        <div class="media">
            <div class="media-left">
                <a href="#"><h3 class="media-heading">{{ form.title }}</h3></a>
                <a href="#"><img src= {{ asset(form.imageUrl) }}
                                 class="media-object" style="width:157px">
                </a>
            </div>
            <div class="media-body">
                <p><b>Description:</b> {{ form.description }}</p>
                <p>Price: {{ form.price }}</p>
                <p><button id={{form.id}} name={{form.id}} href="#" type="submit" class="btn btn-info" role="button">BUY form<span class="glyphicon glyphicon-book"></span></button></p>
            </div>
        </div>
        <hr>
    {% endfor %}
  {{ form_end(forms) }}
  </div>

{% endblock %}
