{% extends 'FOSUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Register{% endblock %}

{% block fos_user_content %}
    <!--REGISTER-->
    <br>
    <br>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <div class="container">
            <h1 class="text-center">Register Form</h1>
            <p class="text-center"><span class="error" style="color: red">* required field.</span></p>
            <span class="error" style="color: red">*</span>{{ form_label(form.firstName, 'First Name: ', {'label_attr': {'class': 'first'}}) }}
                {{ form_widget(form.firstName, {'attr': {'type':'text', 'placeholder': 'Enter First Name'}}) }}
                {{ form_errors(form.firstName) }}
            <span class="error" style="color: red">*</span>{{ form_label(form.firstName, 'Last Name: ', {'label_attr': {'class': 'last'}}) }}
                {{ form_widget(form.lastName, {'attr': {'type': 'text', 'placeholder': 'Enter Last Name'}}) }}
                {{ form_errors(form.lastName) }}
            <hr>

            <span class="error" style="color: red">*</span>{{ form_label(form.phoneNumber, 'Phone:', {'label_attr': {'class': 'phone'}}) }}
                {{ form_widget(form.phoneNumber, {'attr': {'type': 'text', 'placeholder': 'Enter Phone #(xxxxxxxxxx)'}}) }}
                {{ form_errors(form.phoneNumber) }}
            <div class="email">
            <span class="error" style="color: red">*</span>{{ form_label(form.email, 'Email:', {'label_attr': {'class': 'email'}}) }}
            <br>
                {{ form_widget(form.email, {'attr': {'placeholder': 'Enter Email', 'class': 'box' }}) }}
                {{ form_errors(form.email) }}
            </div>
            <br>
            <span class="error" style="color: red">*</span>{{ form_label(form.plainPassword, 'Password:', {'label_attr': {'class': 'pw'}}) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'type': 'password', 'placeholder': 'Enter Password' }}) }}
                {{ form_errors(form.plainPassword) }}
            <span class="error" style="color: red">*</span>{{ form_label(form.plainPassword, 'Repeat Password:', {'label_attr': {'class': 'rpw'}}) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'type': 'password', 'placeholder': 'Enter Password' }}) }}
            <hr>

            <input type="checkbox" checked="checked" align="center"> Remember me

            <p class="text-center">By creating an account you agree to our <a href={{ path('terms') }}>Terms & Privacy</a>.</p>

            <div class="clearfix">
                <input type="submit" class="signupbtn" value="{{ 'Register'|trans }}"></input>
            </div>
        </div>
        {{ form_end(form) }}
{% endblock %}